.bottom-bar__container {
  width: calc(var(--container-width-lg) + 0.2rem);
  background-color: var(--color-white);
  padding: 0.5rem 0;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

.total__price {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.move__bot__btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.btn__primary {
  justify-content: flex-end;
  background-color: var(--color-gold);
}

h3 {
  display: flex;
  flex-direction: row;
}

.push__element__up{
  padding: 2rem 0;
}

/* ------------MEDIA QUERIES (MEDIUM DEVICES)---------------- */
@media screen and (max-width: 1024px) {
  .bottom-bar__container {
    width: var(--container-width-md);
  }
}

/* ------------MEDIA QUERIES (small DEVICES)---------------- */
@media screen and (max-width: 600px) {
  .bottom-bar__container {
    width: calc(var(--container-width-sm) + 0.2rem);
  }
}
